langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langgraph
tavily
deepagents
langsmith
pydantic